<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../{{root_folder}}style.css" />
    <title>Simple Secret Santa</title>
  </head>
  <body class="is-loading">
    <div style="background: #ff4f4f; text-align: center; color: white">
      THIS PAGE IS IN ALPHA VERSION!
    </div>
    <div>
      <h1>SIMPLE SECRET SANTA</h1>
    </div>

    <div class="reveal-container">
      <p class="h2 reveal-message">
        {{msg_greeting}} <b class="santa-name"></b> <br />
        {{msg_welcome}} <br />

        <b class="all-friend">null</b> <b>{{msg_and}}</b>
        <b class="last-friend">null</b>.
        <br />
        {{msg_assignment}}
        <br />
        <b class="secret-name is-hide">null</b>
      </p>
    </div>
    <script src="../{{root_folder}}js/utils.js"></script>
    <script src="../{{root_folder}}js/reveal.js"></script>
  </body>
</html>
